@import "tailwindcss";

:root {
  --background-rgb: 249 250 251; /* gray-50 */
  --foreground-rgb: 31 41 55;   /* gray-800 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 3 7 18;      /* gray-950 */
    --foreground-rgb: 249 250 251; /* gray-50 */
  }
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
